
@{
    ViewData["Title"] = "SubIndex";
    Layout = "~/Views/Shared/SubAdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .content {
            flex: 1;
            padding: 20px;
        }

            .content h2 {
                font-size: 32px;
                margin-bottom: 10px;
            }

            .content p {
                font-size: 18px;
                margin-bottom: 20px;
            }
    </style>
    <link rel="stylesheet" type="text/css" href="dashboard.css">
</head>


<body>
    <div class="dashboard">
        <div class="content">
            <h2>Welcome to your dashboard!</h2>
            <p>This is where you can access all the important information and manage your account settings.</p>
            <!-- Add your dashboard content here -->
        </div>
    </div>
</body>
</html>

