 
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>portal - Login</title>
    <link rel="icon" href="~/img/icon.ico" type="image/x-icon">
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/portal.css" rel="stylesheet">
    <script src="~/js/site.js"></script>
    <script src="~/js/site.js"></script>
</head>

<body>
       @using (Html.BeginForm("LoginValidate", "Login", FormMethod.Post, new { @onsubmit = "LoadLoader()" }))
    {       
    <div class="login_form container">
            @*<div class="row justify-content-end">*@
                <div class="row justify-content-center">
                <div class=" col-xl-5 col-lg-5 col-md-12">
                    <div class="card o-hidden border-0 shadow-lg login_card">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->

                            <div class="row">
                                <div class="col-12">
                                    <div class="pt-5 pr-5 pl-5 pb-2" id="login">
                                       
                                        <div class="text-center">
                                            <h4 class="text-gray-900 font-weight-bold">Account Login </h4>
                                            <p class="small">
                                                login with your email / Mobile number
                                            </p>
                                        </div>
                                        <hr/>
                                         @if (TempData.ContainsKey("LoginFailedMessage"))
                                        {
                                            <div id="loginFailedPopup">
                                                <div class="popup-content" style="color:red">
                                                    <p>@TempData["LoginFailedMessage"]</p>
                                                </div>
                                            </div>
                                            <script>
                                                $(document).ready(function () {
                                                    $('#loginFailedPopup').show();
                                                 });
                                            </script>
                                        }
                                        <form id="loginForm" class="login">
                                            <div class="form-group mb-3">
                                                <label class="floating-label">
                                                    <input type="text" class="form-control" id="txtUserName" name="UserName"
                                                           placeholder="Enter your user id/card number" autocomplete="off" required>
                                                    <span class="floating-text">User ID/Card Number</span>
                                                </label>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="floating-label show_hide_password">
                                                    <input type="password" class="form-control form-control-user" id="txtPassword" name="Password"
                                                           placeholder="Enter your password" autocomplete="off" required>
                                                    <span class="floating-text">
                                                        Password <span class="mandatory">*</span>
                                                    </span>
                                                    <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                                </label>
                                            </div>
                                            <img src="data:image/png;base64,@ViewBag.CaptchaImage" alt="CAPTCHA Image" style="width: 100px; height: 50px;" id="captchadefault"> <span><a href="#" onclick="refreshcaptcha()">Refresh</a></span>
                                          
                                            <br>
                                            <label for="captchaInput">Enter the CAPTCHA code:</label>
                                            <input type="text" id="captchaInput" name="captchaInput" required>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="customCheck"> 
                                                </div>
                                            </div><hr />
                                                     @*<button  class="btn btn-primary btn-block bg-gradient-primary btn-large"
                                            onclick="submitLogin()">
                                            Login
                                            </button> *@
                                           
                                            <button type="submit" class="btn btn-primary btn-block bg-gradient-primary btn-large">
                                                Login
                                            </button>
                                        </form>                                      
                                        <hr>
                                      
                                    </div>
                                 </div>
                            </div>
                        </div>
                     </div>

                </div>
            </div>

        </div>
     }  
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/portal.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/login.js"></script>
    <script src="~/js/rightclickdisable.js"></script>
</body>


</html>